*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(44, 13, 74);
    text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#overlay{
	width: 100vw;
	height: 100vh;
}